body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url(./imagens/flat\ earth\ 1.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: rgb(74, 105, 189);
}
.form {
  margin-top: 5%;
  position: fixed;
  top: 1;
  right: 2%;
  width: auto;
  height: auto;
  background-color: #eadcea7c;
  border-radius: 10px;
  padding: 20px;
}
main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.caixa{
  margin-top: 2%;
  position: flex;
  left: 2%;
  width: 70%;
  height: 10%;
  background-color: #eadcea7c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  min-width: 2%;
  max-width: 100%;
  width: fit-content; 
  height: fit-content;
  padding: 7px;
}
h2 {
  font-family: Telegraf;
  font-weight: bold; /*Não sei uma fonte melhor*/
}
.item {
  flex-grow: 1;
  background-color: rgb(24, 31, 37);
  padding: 50px 20px;
  flex-basis: 200px;
  text-align: center;
  color: #ffffff;
  margin: 5px;
}
.flex-2 {
  flex-grow: 2;
  flex-basis: 380px;
}
ul {
  margin: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #1d2025, #4b5668);
}
li {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 10px;
}
li:hover {
  background: linear-gradient(to top,  #1d2025, #4b5668);
  border-left: 1px solid rgba(20, 4, 4, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 9px;
}