/*Comando para códigos gerais*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url(./imagens/flat\ earth\ 1.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: rgb(74, 105, 189);
  background-attachment: fixed;
}

.gridConteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60px auto auto;
  grid-template-areas:
    "header header header"
    "main main aside"
}

.header ul {
  margin: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #1d2025, #4b5668);
  width: 300%;
}

li {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 13px;
}

li:hover {
  background: linear-gradient(to top, #1d2025, #4b5668);
  border-left: 1px solid rgba(20, 4, 4, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 13px 12px;
}

.flex-2 {
  flex-grow: 2;
  flex-basis: 380px;
}

.main {
  margin-top: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
  grid-area: main;
  text-align: center;
  margin-left: 30px;
  height: auto;
}

h2 {
  font-family: Telegraf;
  font-weight: bold;
}

.footer {
  background: linear-gradient(to top, #4b5668, #1d2025);
  background-color: #1d2025;
  color: #4b5668;
  height: 100px;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
}

.footer h3 {
  font-family: Telegraf;
  font-weight: bold;
  color: #000000;
  margin-top: 2px;
}

.footer p {
  font-family: Telegraf;
  font-weight: bold;
  color: #000000;
}

/*Comando para Home/index*/
.form {
  margin: 20px;
  position: fixed;
  right: 2%;
  width: auto;
  height: auto;
  background-color: #eadcea7c;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: block;
}

.img {
  object-fit: cover;
  object-position: center;
}

/*Comando para Sobre*/
.caixa {
  position: flex;
  left: 2%;
  background-color: #eadcea7c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  min-width: 2%;
  max-width: 100%;
  width: fit-content;
  height: fit-content;
  padding: 7px;
  margin: auto;
}

.aside_sobre {
  grid-area: aside;
  margin-right: 30px;
  background-color: #eadcea7c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 800px;
  width: auto;
  height: 27%;
  padding: 9px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

/*Comando para box-shadow*/
.caixa_grid {
  margin-left: 5px;
  background-color: #eadcea7c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 800px;
  width: 80%;
  padding: 7px;
  text-align: center;
}

/*Comando para contato*/

/*Comando para Estatística*/
.aside_estatistica {
  grid-area: aside;
  margin-right: 30px;
  background-color: #eadcea7c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 800px;
  width: auto;
  height: 27%;
  padding: 9px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

table {
  border-color: 1px solid rgba(0, 0, 0, 0.466);
  background-color: rgba(211, 211, 211, 0.904);
  margin: auto;
  position: relative;
  width: 600px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

th {
  background-color: rgba(169, 169, 169, 0.61);
  text-align: center;
}

td {
  padding: 10px;
}
.tab-foot{
  background-color: #2d3136ab;
}

/*Comando para Produtos*/
.aside_produto {
  position: fixed right;
  grid-area: aside;
  margin-right: 40px;
  background-color: #eadcea7c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 800px;
  width: auto;
  height: 55%;
  padding: 9px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10x;
  align-items: center;
  border-color: transparent;
  border-radius: 10px;

}

.grid div {
  color: #000000;
  text-align: center;
}

.item {
  flex-grow: 1;
  background-color: transparent;
  padding: 15px 10px;
  flex-basis: 200px;
  text-align: right;
  color: #ffffff;
  margin-left: 10px;
}

.item img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

/*Comando para organização dos botões*/
label {
  display: block;
  flex-direction: row;
  line-height: 26px;
  text-align: center;
  padding-bottom: 10px;
}

input[type=text],
input[type=number],
input[type=email] {
  min-width: 250px;
}